.jgao{
  // background: black;
  height: 100vh;
  width: 97vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-wrapper{
  height: 95%;
  width: 95%;
  border: solid black 1px;
}