#App{
  display: flex;
  // position: fixed;
}
.App{
  position: relative;
  display: flex;
  flex-direction: column;
  color: whitesmoke;  
  max-height: 100vh;
  height:100%;
  overflow-y: scroll;
  // overflow-x: hidden;
  scroll-snap-type: mandatory; /* for older browsers */
  scroll-snap-points-y: repeat(100vh); /* for older browsers */
  scroll-snap-type: y mandatory;
}
.section{
  position: relative;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  height:100vh;
  z-index: 1;
}
