@import 'app.scss';
@import 'canvas.scss';
@import 'landing.scss';
@import 'project.scss';
@import 'modal.scss';
@import 'theme.scss';

html,body{
  height: 100%;
  width: 100%;
}
#root{
  height: 100%;
  width: 100%; 
}


*{
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
}
.wrapper{
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  bottom:100%;
  z-index: -1;
}

.zoomed{
  // transition: transform ease-in-out 1s;
  transform: scale(1.04);

}