.navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  width: 100%;
  color:white;
  background-color: rgba(48, 48, 48, 0.076);
  &__section{
    
  }
}