.project{    
  &__container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  &__outer{
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  &__inner{    
    height: 100%;
    width: 100%;
    background-color: rgba(133, 133, 133, 0.063);    
    transition: transform ease-in-out 1s;
    transform: scale(1);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    // filter: grayscale(40%);
       
  } 
  &__title{
    position: absolute;
    top: 10px;
    left: 10vw;
  }
  &__hero{    
    object-fit: contain;
    object-position: center;    
  }
}

.project_overlay_container{
  position: absolute;  
  bottom: 2vh;  
  width: 100%;  
  display: flex;  
  justify-content: space-between;
  align-items: flex-end;
  font-size: 50px;
  color: gray;
  padding: 20px;
}
.modal_arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  fill:black;
  height: 70px;
  width: 70px;  
  border-radius: 50%; 
  // text-orientation: sideways;
  // transform: rotate(270deg) scale(1);
  background-color: rgba(182, 182, 182, 0.616);
  animation: grow 2s infinite;
}

@keyframes grow{
  0% {transform: rotate(270deg) scale(0.7); background-color: rgba(200, 200, 200, 0.616);}
  50% {transform: rotate(270deg) scale(1); background-color: rgba(135, 135, 135, 0.878);}
  100% {transform: rotate(270deg) scale(0.7); background-color: rgba(200, 200, 200, 0.616);}
}