.project{    
  &__container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  &__outer{
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  &__inner{
    cursor: pointer;    
    height: 100%;
    width: 100%;
    background-color: rgba(133, 133, 133, 0.063);    
    transition: transform ease-in-out 1s;
    transform: scale(1);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    // filter: grayscale(40%);
    &_info{      
      width: 500px;
      font-size: 50px;
      // color: black;
      // text-shadow: 0 0 1px black;
      position: absolute;
      bottom: 5vh;
      left: 5vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      & h6{
        font-size: 20px;
        color: gray;
      }
    }    
  } 
  &__title{
    position: absolute;
    top: 10px;
    left: 10vw;
  }
  &__hero{    
    object-fit: contain;
    object-position: center;    
  }
}

.invert{
  // fill-rule: evenodd;
  // filter:sepia(2);
}