
.fixed__sidenav{
  z-index: 999999;
  // position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // flex-grow: 1;
  position: relative;
  width: 50px;
}

.about{  
  // position: absolute;
  // top:45%;
  text-align: center;
  font-family: 'Major Mono Display', monospace;
} 


.sideText {  
  cursor: pointer;  
  font-size: 1.2vmax;
  writing-mode:vertical-lr;
  text-orientation: sideways;
  transform: rotate(180deg);
  margin: 5px 0;
}

.sidenav__item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;  
}